# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment folder
env/

# Django stuff
db.sqlite3
*.log

# Static files
/staticfiles/

# IDE and editor folders
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db
