{% extends "base.html" %}

{% block section %}

 <!-- Header-->
 <header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">About Us ....</h1>
            <p class="lead fw-normal text-white-50 mb-0">Welcome to Ecommerce....</p>
        </div>
    </div>
</header>


    <div class="container"> 
        <div class="row"> 
            <center> 
                <div class="col-8"> 
                    <p align = "justify">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        Officiis pariatur, ipsum molestias quae culpa fugit ex neque iusto, 
                        optio temporibus minus at fuga accusamus dolores, architecto tenetur rerum! Laborum, 
                        velit!. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloremque, laudantium dignissimos. 
                        Totam voluptate dicta delectus dolorem iusto commodi sint temporibus aperiam laboriosam. 
                        Possimus, molestias consequatur fuga magni atque itaque rerum. Lorem ipsum dolor, 
                        sit amet consectetur adipisicing elit. Minima doloribus quidem sint qui ab, nemo perferendis nobis, 
                        neque recusandae minus harum ipsum, explicabo doloremque! Assumenda alias nesciunt consequuntur et voluptate.
                        <br><br>

                        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        Officiis pariatur, ipsum molestias quae culpa fugit ex neque iusto, 
                        optio temporibus minus at fuga accusamus dolores, architecto tenetur rerum! Laborum, 
                        velit! Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        Officiis pariatur, ipsum molestias quae culpa fugit ex neque iusto, 
                        optio temporibus minus at fuga accusamus dolores, architecto tenetur rerum! Laborum, 
                        velit!. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloremque, laudantium dignissimos. 
                        Totam voluptate dicta delectus dolorem iusto commodi sint temporibus aperiam laboriosam. 
                        Possimus, molestias consequatur fuga magni atque itaque rerum. Lorem ipsum dolor, 
                        sit amet consectetur adipisicing elit. Minima doloribus quidem sint qui ab, nemo perferendis nobis, 
                        neque recusandae minus harum ipsum, explicabo doloremque! Assumenda alias nesciunt consequuntur et voluptate.

                        <br><br>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        Officiis pariatur, ipsum molestias quae culpa fugit ex neque iusto, 
                        optio temporibus minus at fuga accusamus dolores, architecto tenetur rerum! Laborum, 
                        velit!. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloremque, laudantium dignissimos. 
                        Totam voluptate dicta delectus dolorem iusto commodi sint temporibus aperiam laboriosam. 
                        Possimus, molestias consequatur fuga magni atque itaque rerum. Lorem ipsum dolor, 
                        sit amet consectetur adipisicing elit. Minima doloribus quidem sint qui ab, nemo perferendis nobis, 
                        neque recusandae minus harum ipsum, explicabo doloremque! Assumenda alias nesciunt consequuntur et voluptate.
                    </p>
                </div> 
            </center> 
        </div> 
    </div>
{% endblock  %}