<!DOCTYPE html>
{% extends "basic_app/base.html" %}
{% block body_block %}

<div class="container d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div class="text-center">
        <h1 class="display-4 fw-bold text-primary">Welcome to Our Website! 🎉</h1>
        <p class="lead text-muted">We're glad to have you here. Explore and enjoy our platform.</p>

         <div class="mt-4">
            <a class="nav-link" href="{% url 'basic_app:registration' %}">Regestration</a>
            <a href="{% url 'basic_app:user_login' %}" class="btn btn-primary">Login Here</a>
        </div> 
    </div>
</div>

{% endblock %}
